<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body{
            text-align: center;
        font-family: sans-serif;
        background-color: rgb(227, 183, 183);
        }
        table{width: 90%;
        margin: auto;
        font-size: 22px;
        border-collapse: collapse;
    }
    h1{
        color: blue;
        font-size: 40px;
        margin-top: 50px;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
    .up{
        background-color: rgb(2, 85, 2);
        padding: 3px;
        margin-right: 5px;
    }
    .del{
        background-color: red;
        padding: 3px;
    }
    .register{
        height: 150px;
        width: 50%;
        background-color: black;
        margin: auto;
        padding: 1px;
        border-radius: 10px;
        margin-top: 30px;
    }
    h2{color:yellow;
    font-size: 35px;}
    #reg{
        background-color: rgb(0, 157, 255);
        padding: 8px;
        width: 50px;
        text-align: center;
        color: black;
        border-radius: 5px;
    }
    </style>
</head>
<body>
    <h1>Student Data of NSTI Ramanthapur</h1>
    <% if(students!= "") { %>
    <table border="1px" >
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Trade</th>
            <th>Age</th>
            <th>Address</th>
            <th>Operation</th>

        </tr>
        <% students.forEach((students,index)=>{
           %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= students.name %></td>
            <td><%= students.email %></td>
            <td><%= students.trade %></td>
            <td><%= students.age %></td>
            <td><%= students.address %></td>
            <td><button class="up"><a href='/edit/<%= students._id %>'>Update</a></button><button class="del"><a href='/delete/<%= students._id %>'>Delete</a></button></td>
        </tr><% }) %>
    </table>
    <% }%>
    <div class="register">
        <h2>Click here for New User</h2>
        <h3><a id='reg' href='/register'>Register here</a></h3>
    </div>
</body>
</html>